.deduplication-plugin {
  max-width: 1100px;
  width: 1100px;
  height: calc(100% - 56px);
}

.modal-content {
  height: 100%;
}

.deduplication-plugin-header {
  font-size: 24px;
}

.deduplication-plugin-content {
  padding: 0;
  height: calc(100% - 56px);
  overflow: hidden;
}

.deduplication-plugin-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.deduplication-plugin-show {
  height: 100%;
  overflow: auto;
  width: 800px;
}

.table-wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;
}

.table-wrapper table {
  width: 100%;
  margin: 20px auto;
  table-layout: fixed;
}

.table-wrapper table thead {
  border-top: 1px solid #ccc;
}

.deduplication-plugin .table-wrapper tr {
  border-bottom: 1px solid #ccc;
  text-align: center;
}

.deduplication-plugin .table-wrapper td, .deduplication-plugin .table-wrapper th {
  padding: 10px;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  overflow: hidden;
  min-width: 100px;
  width: 100px;
}

.deduplication-plugin .table-wrapper td {
  font-weight: 400;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px;
 }

 .dtable-plugin-settings {
  height: 100%;
  width: 30%;
  background-color: #f8f8f8;
  border-left: 1px solid #e9ecef;
  color: #000000;
  overflow: hidden;
}

.dtable-plugin-settings-header {
  border-bottom: 1px solid #e4e4e4;
  padding: 14px 20px 14px 20px;
  display: flex;
  justify-content: space-between;
}

.dtable-plugin-settings-title {
  margin-bottom: 10px;
}

.dtable-plugin-settings-item {
  padding-bottom: 14px;
}

.dtable-plugin-settings-parameter {
  font-size: 13px;
  margin-top: 14px;
  padding: 0 20px 20px 20px;
  height: calc(100% - 64px);
  overflow: auto;
}

.error-description {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-cell {
  cursor: pointer;
  position: relative;
}

.details-container {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 80%;
  max-height: 500px;
  flex-shrink: 0;
  box-shadow: 0 0 5px #ccc;
  background: #fff;
}

.records-amount {
  padding: 10px 20px 7px;
  border-bottom: 1px solid #e9ecef;
}

.records-op-btn:hover {
  background: #fff;
}

.records-op-btn:focus {
  box-shadow: none;
}

.records-container {
  overflow-y: hidden;
}

.column-names-container {
  width: 100%;
  padding: 10px 20px 7px;
  background: #fff;
  box-shadow: 0 1px 6px rgba(0,0,0, 0.1);
  margin: 0 0 3px;
}
.scroll-arrow {
  display: inline-block;
  top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 20px;
  color: #bdbdbd;
  text-align: center;
}
.scroll-arrow-active {
  color: #333333;
  cursor: pointer;
}
.scroll-arrow-active:hover {
  background: #f0f0f0;
}
.scroll-left {
  left: 3px;
}
.scroll-right {
  right: 3px;
}
.column-name-list {
  overflow-x: auto;
  scrollbar-width: none;
  ms-overflow-style: none;  /* IE and Edge */
}
.column-name-list::-webkit-scrollbar {
  display: none;
}

.column-name {
  width: 120px;
  margin: 0 8px;
  flex-shrink: 0;
  color: #999;
  font-weight: 500;
  font-size: .875rem;
}

.column-name:first-child {
  margin: 0 0 0 12px;
}

.record-list {
  padding: 10px 20px;
  background-color: #f8f8f8;
  overflow-y: auto;
}

.record-container {
  margin-top: 10px;
}

.record-container:first-child {
  margin: 0;
}

.deduplication-record {
  height: 88px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 1px 1px rgba(0,0,0,.1);
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  cursor: pointer;
}

.deduplication-record-name {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  height: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.deduplication-record-value {
  width: 100%;
  height: 34px;
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  ms-overflow-style: none;  /* IE and Edge */
}

.deduplication-record-value::-webkit-scrollbar {
  display: none;
}

.row-cell-value {
  display: flex;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 0;
  margin: 0 8px;
  position: relative;
}

.row-cell-value:first-child {
  margin: 0;
}

.deduplication-single-select {
  display: inline-block;
  padding: 0px 10px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-size: 13px;
  background-color: rgb(215, 232, 255);
}

.collaborator {
  display: inline-flex;
  align-items: center;
  height: 20px;
  margin-right: 10px;
  padding: 0 8px 0 2px;
  font-size: 13px;
  border-radius: 10px;
  background: #eaeaea;
}

.collaborator-avatar {
  border-radius: 50%;
  vertical-align: middle;
}

.collaborator-avatar-container {
  width: 16px;
}

.collaborator-name {
  margin-left: 5px;
}

.row-cell-value-empty {
  display: inline-block;
  height: 8px;
  width: 20px;
  background-color: #f1f1f1;
  border-radius: 4px;
}

.more-level-font {
  color: #999;
  cursor: pointer;
}

.more-level-font:hover {
  color: #191919;
}

.selected-cell::after {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  display: inline-block;
  border: 2px solid #66afe9;
}

.cell-value-ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 100%;
  line-height: 34px;
}

.add-column {
  color: #bbb;
  cursor: pointer;
  display: flex;
  align-items: center;
} 

.active:hover {
  color: #191919;
}

.add-column .column-item {
  margin-right: 5px;
  display: inline-block;
  -webkit-transform: scale(.8);
  transform: scale(.8);
}

.deduplication-columns-select {
  margin-bottom: 14px;
}
